:root {
    --primary: #FC7583;
    --primary-700: #e25967;
    --primary-50: #FFF0EE;
    --white-50: #f5f9fd;
    --white: #ffffff;
    --shadow: #CBD2E6;
    --shadow-dark: #A8A9DB;
    --background-light: #EFF7FF;
    --background-dark-700: #2e2f3a;
    --background-dark-500: #3C3B56;
    --text-dark: #2e2f3a;
    --text-dark-100: #575757;
    --text-light: #EFF7FF;
    --text-gary: #888888;
    --gray-light: #d3cece;
    --dark-100: rgba(0, 0, 0, 0.2);
    --button: linear-gradient(0deg, #FC7583, #e25967);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(1320px, 90%);
    margin: auto;
}

a {
    text-decoration: none;
}

.my-button {
    padding: 8px 20px;
    background: var(--button);
    outline: none;
    border-radius: 5px;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.my-button:hover {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary-700);
    font-weight: 500;
}

body {
    background: var(--background-light);
    scroll-behavior: smooth;
}

/* ============ Top Navigation Design ============ */
.navigation {
    background: var(--background-light);
    padding: 10px 20px;
    position: relative;
    border-bottom: 1px solid rgba(168, 169, 219, 0.1);
    margin-bottom: 30px;
}

.navigation::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    width: calc(100% - 30px);
    margin: auto;
    /* background: red; */
    z-index: -1;
    height: 100%;
    box-shadow: 0px 0px 10px 8px rgba(168, 169, 219, 0.4);
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1320px, 90%);
    margin: auto;
}

.top-navigation .logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-navigation .logo img {
    width: 30px;
    height: auto;
}

.top-navigation .logo p {
    color: var(--primary);
    font-size: 1.4rem;
    font-weight: 600;
}

.top-navigation .links {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 1.1rem;
    font-weight: 500;
}

.top-navigation .links a {
    color: var(--text-dark);
}

.top-navigation .links a.active {
    color: var(--primary);
}

.top-navigation .right-panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-navigation .right-panel .theme-change img {
    width: 25px;
    cursor: pointer;
}

.top-navigation .right-panel .profile img {
    width: 37px;
    height: 37px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.top-navigation .right-panel .profile .user-profile {
    position: relative;
}

.top-navigation .right-panel .profile .user-profile .user-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--background-light);
    color: var(--text-dark);
    box-shadow: 0px 0px 8px 4px rgba(168, 169, 219, 0.2);
    white-space: nowrap;
    text-align: center;
    border-radius: 5px;
    padding: 8px 15px;
    top: 30px;
    z-index: 1;
}

.top-navigation .right-panel .profile .user-profile .user-name.show-name {
    display: block;
}

.top-navigation .right-panel .profile .user-profile .user-name.hide-name {
    display: none;
}

.top-navigation .right-panel .profile .user-profile .user-name::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #dae1e9 transparent;
}

.top-navigation .right-panel .navigation-login {
    padding: 8px 20px;
    background: var(--button);
    cursor: pointer;
    color: var(--text-light);
    border: none;
    border-radius: 5px;
}


/* ============ Signup, Login, Forget Pass ============ */
.sign-account {
    margin-top: 50px;
    width: min(400px, 90%);
}

.sign-account .heading {
    color: var(--background-dark-500);
    font-size: 2.2rem;
    font-weight: 600;
}

.sign-account .heading span {
    color: var(--primary);
    font-size: 3rem;
}

.sign-account .change-to {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-dark);
}

.sign-account .change-to a {
    font-weight: 600;
    color: var(--primary);
}

.sign-account .inputs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.sign-account .inputs input {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid var(--dark-100);
    border-radius: 5px;
    outline: none;
    font-size: .9rem;
    transition: .5s;
    color: var(--text-dark);
}

.sign-account .inputs input:focus {
    border: 1px solid var(--primary);
}

.sign-account .action-button .sign-to-account {
    margin-top: 30px;
    padding: 8px;
    background: var(--button);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--text-light);
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: .5s;
}

.sign-account .action-button .sign-to-account:hover {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary-700);
    font-weight: 600;
}

.sign-account .other-options .or-title {
    position: relative;

    text-align: center;
    margin: 20px 0;
    color: var(--gray-light);
    font-size: .9rem;
    font-weight: 400;
}

.sign-account .other-options .or-title::before,
.sign-account .other-options .or-title::after {
    content: '';
    position: absolute;
    height: .5px;
    width: 35%;
    background: var(--dark-100);
    top: 50%;
    transform: translateY(-50%);
}

.sign-account .other-options .or-title::before {
    left: 0;
}

.sign-account .other-options .or-title::after {
    right: 0;
}

.sign-account .other-options .google-github {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sign-account .other-options .google-github .google-sign,
.sign-account .other-options .google-github .github-sign {
    padding: 8px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--primary-700);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid var(--primary);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sign-account .other-options .google-github .google-sign:hover,
.sign-account .other-options .google-github .github-sign:hover {
    background: var(--button);
    color: var(--text-light);
    font-weight: 500;
}

.sign-account .other-options .google-github .google-sign img,
.sign-account .other-options .google-github .github-sign img {
    width: 20px;
}

.remember-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

}

.remember-forget .remember-me {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-dark);
    cursor: pointer;
}

.remember-forget .remember-me input {
    accent-color: var(--primary-700);
}

.remember-forget .forget-password {
    color: var(--primary);
    font-weight: 500;
}



/* .courses{
    display: flex;
    justify-content: space-between;
} */


/* ============ Course ============ */
.all-courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    padding: 15px;
    background: var(--white-50);
    border-radius: 6px;
    position: relative;
    height: 410px;
    border: 2px solid var(--white);
    transition: .5s;
}

.course-card:hover {
    box-shadow: 2px 0px 10px 2px rgba(168, 169, 219, 0.4);
}

.course-card .course-thumbnail {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 3px 3px 0px 0px;
    margin-bottom: 10px;
    transition: .5s;
}

.course-card:hover .course-thumbnail {
    transform: scale(1.02);
}

.course-card .author-info {
    display: flex;
    align-items: center;
    gap: 7px;
}

.course-card .author-info .author-img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.course-card .author-info .author-name {
    font-size: 1rem;
    color: var(--text-dark);
    font-weight: 500;
}

.course-card .course-title {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-dark);
    margin: 5px 0;
}

.course-card .skills-gain {
    color: var(--text-gary);
    font-size: .9rem;
}

.course-card .skills-gain .all-skill-name {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

.course-card .skills-gain span {
    font-weight: 500;
    color: var(--text-dark);
    margin-right: 10px;
}

.course-card .course-card-footer {
    position: absolute;
    bottom: 15px;
}

.course-card .ratings {
    display: flex;
    align-items: center;
}

.course-card .ratings .star {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.course-card .ratings .rating {
    font-size: .9rem;
    margin-right: 5px;
    color: var(--text-gary);
}

.course-card .ratings .reviews {
    font-size: .9rem;
    color: var(--text-gary);
}

.course-card .course-type-duration {
    font-size: .9rem;
    color: var(--text-gary);
}


/* ============ Course Details Page ============ */
/* .course-detail {
    width: min(900px, 90%);
    margin: auto;
} */

.course-detail .header {
    background: var(--primary-50);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;

}

.course-detail .header .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.course-detail .header .title-section .course-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary);
}

.course-detail .header .short-description p {
    font-size: .9rem;
    color: var(--text-dark);
    width: 70%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.course-detail .header .author-ratings {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.course-detail .header .author-ratings .author {
    display: flex;
    align-items: center;
    gap: 7px;
}

.course-detail .header .author-ratings .author .author-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.course-detail .header .author-ratings .author .author-name {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark-100);
}

.course-detail .header .author-ratings .ratings {
    display: flex;
    align-items: center;
    gap: 5px;
}

.course-detail .header .author-ratings .ratings img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.course-detail .header .author-ratings .ratings p {
    font-weight: 500;
    color: var(--text-dark-100);
}

.course-detail .header .action-enroll {
    display: flex;
    align-items: center;
    gap: 20px;
}

.course-detail .header .action-enroll .enrolled {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-detail .header .action-enroll .enrolled p {
    color: var(--text-dark-100);
}

.course-detail .header .action-enroll .enrolled p span {
    color: var(--text-dark);
    font-weight: 500;
    font-size: 1.1rem;
}

.course-detail .course-infos {
    background: var(--white-50);
    border: 2px solid var(--white);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-detail .course-infos .level,
.course-detail .course-infos .time,
.course-detail .course-infos .Prerequisites {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course-detail .course-infos img {
    width: 35px;
}

.course-detail .course-infos .course-info-title {
    font-size: .9rem;
    color: var(--text-dark-100);
}

.course-detail .course-infos .course-info-data {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.course-detail .about-course-part .about-course {
    margin-bottom: 20px;
}

.course-detail .about-course-part .about-course-title,
.course-detail .about-course-part .skill-gain-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--text-dark-100);
}

.course-detail .about-course-part .about-course-info,
.course-detail .about-course-part .skill-gain-info {
    font-size: .9rem;
    font-weight: 400;
    color: var(--text-dark);
}

.course-detail .about-course-part .skill-gain-info {
    margin: 0 0 30px 30px;
}

.course-detail .course-thumbnail img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 30px;
}

.course-detail .course-syllabus {
    background: var(--white-50);
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--white);
}

.course-detail .course-syllabus .syllabus-title h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-dark);
}

.course-detail .course-syllabus .syllabus-title p {
    font-size: .9rem;
    font-weight: 400;
    color: var(--text-dark-100);
    margin-bottom: 20px;
}

.accordion-item {
    cursor: pointer;
    border: 1px solid var(--text-gary);
    margin-bottom: 3px;
    padding: 20px;
    border-radius: 3px;
}

.accordion-button {
    display: flex;
    gap: 15px;
}

.accordion-button .lesson-no {
    font-size: 2rem;
    color: var(--primary);
    margin-top: -5px;
}

.accordion-button .lesson-title {
    font-size: 1.1rem;
    color: var(--text-dark);
    font-weight: 600;
}

.accordion-button .lesson-data {
    font-size: .9rem;
    color: var(--text-dark);
    font-weight: 400;
}

.accordion-item-panel {
    border-top: 1px solid var(--text-gary);
    margin-top: 20px;
}

.course-detail .get-access-bottom {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* ============ Course Page Side Navigation ============ */
.course-layout {
    display: flex;
    gap: 50px;
}

.course-navigation {
    position: sticky;
    top: 10px;
    min-width: 250px;
    background: var(--primary-50);
    padding: 20px;
    border: 2px solid var(--white);
    height: fit-content;
}

.course-navigations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-navigations .course-title {
    background: var(--white-50);
    padding: 8px 12px;
    border-radius: 3px;
    border: 2px solid var(--white);
    color: var(--primary);
    font-weight: 500;
}



/* ============ Checkout ============ */
.checkout {
    width: min(550px, 90%);
    margin: auto;
}

.checkout .checkout-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.checkout .checkout-title .title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-dark);
}

.checkout .checkout-title .price {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-dark-100);
}

.checkout .thumbnail img {
    width: 100%;
    margin-bottom: 30px;
}

.checkout form .name,
.checkout form .email,
.checkout form .address {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.checkout form label {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-dark-100);
    margin-bottom: 3px;
}

.checkout form input {
    padding: 15px 20px;
    font-size: .9rem;
    background: transparent;
    border-radius: 5px;
    border: 2px solid var(--text-gary);
    outline: none;
}

.checkout form .name-input,
.checkout form .email-input {
    color: var(--text-gary);
}

.checkout form input:focus {
    border: 2px solid var(--primary);
}

.checkout .my-button {
    margin-top: 30px;
}


/* ============ Error ============ */
.error {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1 {
    font-size: 15rem;
    line-height: 230px;
    background-image: url(../images/nature.jpg);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

.error h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-dark);
    margin-bottom: 10px;
}

.error p {
    font-size: .9rem;
    color: var(--text-dark-100);
    margin-bottom: 50px;
}

/* ============ Footer ============ */
.footer {
    background: var(--primary-50);
    margin-top: 50px;
    text-align: center;
    padding: 50px;
}